/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-black: #000000;
    --color-dark-grey: #4d4d4d;
    --color-light-grey: #7c7979;
    --color-grey: #616161;
    --color-brown: #8a440c;
    --color-red: #8d0d0d;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 11px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-border-radius: 4px;
    /* animation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* nav */
#navbar {
    z-index: 9999;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light-white);
    padding: 10 0 10 0;
}
.navbar_menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.navbar_menu li:first-child, .navbar_menu li:nth-child(2) {
    color: var(--color-red);
}
.navbar_menu_item {
    cursor: pointer;
}
.navbar_menu_item:hover {
    color: var(--color-light-grey) !important;
}
.navbar_utill {
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.navbar_utill a {
    color: var(--color-black);
    font-size: 20px;
}
.navbar_utill_cart {
    position: relative;
}
.cart_count {
    position:absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    right: -8px;
    font-size: 10px;
    border-radius: 10px;
    background-color: var(--color-brown);
    color: var(--color-white);
    width: 15px;
    height: 15px;
}
.navbar_utill_list {
    cursor: pointer;
    color: var(--color-black);
    font-size: 20px;
}
/* contents */
section {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
}
h2 {
    margin-top: 200px;
}
.title {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: solid var(--color-red) 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.id, .pw, .checkPw, .name, .addr, .phone, .mobile, .email {
    display: flex;
    border-bottom: solid var(--color-light-white) 1px;
    padding: 20px 0 20px 0;
    align-items: center;
}
label {
    display: inline-flex;
    align-items: center;
    width: 150px;
    font-size: small;
}
span {
    font-size: small;
}
.info {
    border-bottom: none;
}
input[type=text], input[type=password] {
    background: #f6f4f4;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}
.id input, .pw input {
    margin-right: 10px;
}
.post {
    display: flex;
    align-items: center;
}
.postNum {
    width: 100px;
    margin-right: 10px;
}
.addrInput {
    display: inline-flex;
    flex-direction: column;
    border: none;
}
.addr1, .addr2 {
    margin-top: 10px;
    width: 373px;
}
.findPost {
    background: var(--color-white);
    border: solid #f6f4f4 1px;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
}
select {
    width: 60px;
    border: solid #f6f4f4 1px;
    border-radius: 5px;
    height: 36px;
    outline: none;
}
.phoneInput input, .mobile input {
    width: 50px;
}
.birth {
    margin-top: 30px;
}
.birth input {
    width: 60px;
}
.btn {
    margin-top: 100px;
    text-align: center;
}
button {
    background: var(--color-brown);
    color: var(--color-white);
    font-weight: var(--weight-semi-bold);
    padding: 10px;
    width: 140px;
    border-radius: 100px;
}




/* footer */
footer {
    margin-top: 200px;
    background: var(--color-light-white);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-micro);
}
.info_1 {
    color: var(--color-dark-grey);
}
.info_1, .info_2 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.service, .bank, .regal, .sns {
    display: flex;
    flex-direction: column;
}
.footer_title {
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-small);
    color: var(--color-light-grey);
    margin-bottom: 10px;
}
.service_num {
    font-size: var(--font-medium);
    margin-bottom: 5px;
}
.bank span {
    margin-bottom: 10px;
}
.regal a {
    color: var(--color-black);
    margin-bottom: 10px;
}
.regal a:last-child {
    color: var(--color-brown);
}
.sns a {
    color: var(--color-dark-grey);
    margin-bottom: 10px;
}
/* arrow */
.arrow-up {
    font-size: var(--font-medium);
    background: var(--color-brown);
    color: var(--color-white);
    padding: 2px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    display: none;
}
.visible {
    display: block;
}