/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-black: #000000;
    --color-dark-grey: #4d4d4d;
    --color-light-grey: #7c7979;
    --color-grey: #616161;
    --color-brown: #8a440c;
    --color-red: #8d0d0d;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 11px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-border-radius: 4px;
    /* animation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-light-grey);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* section */
section {
    max-width: 600px;
    margin: auto;
}

/* top */
.back {
    border-bottom: solid var(--color-light-white) 1px;
    margin-bottom: 80px;
}
.backBtn {
    border: solid var(--color-light-white) 1px;
    border-radius: 100px;
    padding: 10px;
    font-weight: var(--weight-semi-bold);
    margin: 40px 0 12px 0;
}
.backBtn:hover {
    background-color: var(--color-light-white);
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* snsjoin */
.snsjoin {
    max-width: 460px;
    border-bottom: solid var(--color-light-white) 1px;
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 20px;
}
span {
    color: var(--color-light-grey);
}
.kakao {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    font-weight: var(--weight-semi-bold);
    background-color: rgb(246, 246, 0);
    display: inline-flex;
    padding: 20px;
    color: var(--color-black);
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.kakao i {
    margin-right: 30%;
}
/* join */
.join {
    max-width: 460px;
    text-align: center;
    font-size: var(--font-micro);
    font-weight: var(--weight-semi-bold);
}
.join a {
    color: var(--color-black);
}